:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario:  #ffc107;
    --secundario: #0097A7;
    --gris: #757575;
    --griesClaro: #dfe9f3;

    /*--fuente-principal: 3.8rem;*/
}

/*GLOBALES*/
/*SON GLOBALS Y SE PUEDEN USAR EN TODO EL HTML*/
html {
    font-size: 62.5%;
    box-sizing: border-box;/*HACK PARA EL BOX MODEL*/
    scroll-snap-type: y mandatory;
}

/**Scroll Snap es para que cuando scrolles tega un efecto y pueda mantenese en servicios**/
.servicio, .navegacion-prinipal, .formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

/*la coma es para que esten los selectores en una sola linea y no serepita*/
*, *:before, *:after { /*este es universal y afecta a todo el HTML y se lo pone a todos*/
    box-sizing: inherit; /*este box-sizin es para medir los pixeles y no sera sin poblema*/
}

/** { /*selecciona todos los elementos del HTML es universal */
body{
    font-size: 16px; /*1rem = 10px*/
    font-family: "Krub", sans-serif;/*si colocas esta parte de codigo el texto cambiara en toda la pagina*/
    background-image: linear-gradient(to top, var(--griesClaro) 0%, var(--blanco) 100%);/*esta parte es para el fondo de la pagina y degradado*/
}

/*se creara el diseño del boton*/
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 4rem;
    margin-top: 2rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

/*query para que el boton se ajuste automatico*/
@media (min-width: 768px ) {
    .boton{
        width: auto;
    }
}

/*es para cuando estes sobre el boton se cambie el puntador*/
.boton:hover{
    cursor: pointer;
}

.sombra{/*esta parte es para el sombreado de la parte del contenido*/
    -webkit-box-shadow: 0px 0px 29px -1px rgba(112,112,112,0.98);
    -moz-box-shadow: 0px 0px 29px -1px rgba(112,112,112,0.98);
    box-shadow: 0px 0px 29px -1px rgba(112,112,112,0.98);
    background-color: var(--blanco);/*se le pone el fondo blanco*/
    padding: 2rem;
    border-radius: 2rem;
}

/*TIPOGRAFIA*/
/*LA TIPOGRAFIA LA CUAL ES GLOBAL SI SE PUEDE USAR EN TODO EL HTML*/
h1{
    font-size: 3.8rem; /*Rem es igual a 10 pixeles 1rem= 10px*/
}

h2{
    font-size: 2.8rem; /*Rem es igual a 10 pixeles 1rem= 10px*/
}

h3{
    font-size: 1.8rem; /*Rem es igual a 10 pixeles 1rem= 10px*/
}

h1,h2,h3{
    text-align: center;
}

/*TITULOS*/
.titulo span {
    font-size: 2.9rem;
}

/*TITULOS*/
/* toda esta parte es para el menudo la pagina */
.contenedor{
    max-width: 120rem;
    /*
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;*/
 /*esto es lo mimo que lo de abjo pero con menos lineas de codigo*/
    margin: 0 auto;
}

/*utilidades*/
.w-sm-100{
    width: 100%;
}

@media (min-width: 768px ) {
    /*es para que el botn de enciar tome el ancho de la pantalla completo*/
    .w-sm-100{
        width: auto;
    }

    /*esta propiedad es para que el boton de enciar se alinee a la derecha*/
    .flex{
        display: flex;
    }

    /*esta propiedad es para que el boton de enciar se alinee a la derecha*/
    .alinear-derecha{
        justify-content: flex-end;
    }
}


/*NAVEGACION PRINCIPAL*/
/*menu*/
.nav-bg{
    background-color: var(--secundario);
}

/*menu*/
.navegacion-prinipal{
    display: flex;
    flex-direction: column;
}
 
/*es para el menu se vea en todas la resoluciones*/
@media (min-width: 768px) {
    .navegacion-prinipal{
        flex-direction: row;
        justify-content: space-between;/*per mitir mover el contenido horizontal o verticalmente*/
    }
    
}
/*es el contenido del menu*/
.navegacion-prinipal a{
    display: block;/*centrar el contenido del menu*/
    text-align: center;/*centrar el contenido del menu*/
    color: var(--blanco); 
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 0.5rem;

}

/*es para cuando arrastes el maouse se ponga de color*/
.navegacion-prinipal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

/*parte de la parte de responsive para ajustar la pantalla*/
@media (min-whidth: 480px) {
    h1{
        background: none;
    }
}

/**HERO**/
/*en esta parte se le agrega la imagen de al fondo*/
.hero{
    background-image: url(../IMG/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;/*se parar el contenido del hero*/
    
}

/*para el sombrado de la imagen*/
.contenedor-hero{
    position: absolute;
    background-color: rgba(0,0,0, .5 );/* ANTERIOR*/
    background-color: rgb(0 0 0 /50% );/*es la nueva y mas eficiente*/
    width: 100%;
    height: 100%;

    /*esta parte es lo de la descripcion y la imagen del mapa como del municipio*/
    /*este codigo se puede utilizar en todo momento y en diferente proyecto*/
    display: flex; /*se alinia horizontalmente*/
    flex-direction: column;
    align-items: center; /*se alinia centralmente*/
    justify-content: center;/*queda en el centro por completo*/
}

/*poner el tecto en color blanco */
.contenedor-hero h2, .contenedor-hero p{
    color: var(--blanco);
}

/*es para aliniar la ubicacion del establecimiento*/
.ubicacion{
    display: flex;
    align-items: flex-end;
}


/**Servicios**/
/*esta parte es para que se puedan alinear los elementos con el grid dentro de mis servicios y usando el media querypara ser serposive*/
@media (min-width: 768px) {
    .Servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);/*fr es fraccion de la pantalla es mas sencillo que poner el porcentaje*/
        /*esta es la version corta de grid hasta cuando este famialrizado se pueda usar*/
        /*grid: 200px 800px / 300px 300px 300px;*/
        column-gap: 1rem;/*se paracio del contenido*/
    }   
}

/*alineamos la parte del objeto circular para verse centrado*/
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*esta parte es la parte de los titulos de cada servicio*/
.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}

/*alinaer el texto de la descripcion*/
.servicio p{
    line-height: 2rem;
    text-align: center;
}
    
/*en esta parte es para alinear los iconos en la parte de servicios*/
.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;/*se alinia verticalmente*/
}

/*CONTACTO*/

/*el diseño del formulario*/
.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%);/*el mi utiliza el valor mas pequeño de la pantalla*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;

}

/*los bosdes de la formulario*/
.formulario fieldset{
    border: none;
}

/*el titulo del formulario*/
.formulario legend{
    text-align: left;
    margin: 0 auto; /*se centra el texto en firefox*/
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media (min-width: 768px) {
    .formulario-campos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }

    /*en esta parte es para que el de correos tenga la mas campo*/
    /**por eso se usa esta linia si tengo muchos clasees de campo se usa el nth-child para escoger solo 1 clase**/
    .campos:nth-child(3), .campos:nth-child(4){
        grid-column: 1/3;
        grid-column: 1/3;
    }
    
}

.campos{
    margin-bottom: 1rem;


}

/*estilo del texto de los campos como el nombre y el teléfono etc*/
.campos label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

/*es para que se vea mas grande el area de texto*/
.campos textarea{
    height: 15rem;

}

/*estilo del input de los campos en el cual se escrbe el usuario*/
.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

/*  FOOTER */
.footer{
    text-align: center;
}

